{% extends "bootstrap/base.html" %}

{% block title %}在线投票系统{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">在线投票系统</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
    	<li><a href="/"><span class="glyphicon">首页</span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    {% if current_user.is_authenticated %}
    <li><a href="/secret"><span class="glyphicon glyphicon-user"></span>个人中心</a></li>
    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>退出</a></li>
    {% else %}
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
    {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
    	<button type="button" class="close" data-dismiss="alert">&times;</button>
    	{{ message }}
    </div>
    {% endfor%}

	{% block page_content %}
	<div class="col-md-2"></div>
	<div class="col-md-8">
	  <div class="list-group-item active">
	  	<h4 name="name" class="list-group-item-heading">
	  		{{ vote.name }}
	  	</h4>
	  </div>
	  <div class="list-group-item">
	  	<p class="list-group-item-text">
	  		描述：{{ vote.description }}
	  	</p>
	  </div>
	  {% for option in options %}
	  {% if option.vote_id == vote.id %}
	    <br>
	  	<button name="{{ option.id }}" class="list-group-item" type="submit">
	  		·{{ option.content }}&nbsp;{{ option.number }}票
	  	</button>
	  {% endif %}
	  {% endfor %}
	</div>
	{% endblock %}
</div>
{% endblock %}

<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>